{% block header %}
<div class="header_container">
    <div class="logo_container">
        <img class="visualsat_logo" src="/static/VisualSatLogo.png" alt="VisualSatLogo">
    </div>
    <ul class="links_container">
        <li class="link_container"><a href="#">Inicio</a></li>
        <li class="link_container"><a href="#">Visualizador</a></li>
        <li class="link_container"><a href="#">Sobre el proyecto</a></li>
    </ul>
    <div class="logo_container">
        <img class="utn_logo" src="/static/logo.png" alt="UTNLogo">
    </div>
</div>
{% endblock %}