@import "./variables.css";

*{
  margin: 0;
  padding: 0;
  background: #010101;
}

.text{
  color: var(--text-color);
  font-family: "Exo 2";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.034rem;
}

.title{
  color: var(--primary-color);
  font-family: "Exo 2";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.102rem;
}

.button{
  background-color: var(--primary-color);
  padding: 1rem 6rem;
  border-radius: 4rem;
  border: none;
}