<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Proximamente{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">

    <!--estilos agregados por componentes-->
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        {% include "components/header.html" %}
    </header>
    
    <div class="main_container">
        {% include "components/sats.html" with context%}
        <!--{% block content %}{% endblock %}-->
    </div>

    <footer>
        {% include "components/footer.html" %}
    </footer>
</body>
</html>